body {
  font-family: 'Segoe UI', sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}


.table-container {
  margin: 20px auto;
  width: 95%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  background-color: #4F87D6;
  color: white;
}
button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.edit-btn,
.save-btn {
  padding: 10px 20px;
  background-color: #4F87D6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}

